
.card-img-top img{
height: 275px;
}
.read-more{
    text-decoration: none;
}
.link{
    color: white;
    text-decoration: none;
}
.link:hover{
    color: black;
}
.about-movie{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body{
    background: rgb(199, 199, 199);
}
.movie-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.basic-details{
    display: flex;
}
.detail-heading{
    margin: 0px 6px;
}
.general-details{
    color: rgb(78, 78, 78);
}
.read-more{
    color: #0d6efd;
    cursor: pointer;
}
.read-more:hover{
    text-decoration: underline;
}
.movie-summary{
    font-size: 22px;
    text-align: center;
    font-weight: 500;
}